@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "googleSans";
  src: url(/GoogleSans.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  height: 100vh;
  background: #04001d;
  margin: 0;
  cursor: url(/cursor.png), auto;
}
#snapping{
  display: flex;
  flex-basis: column-nowrap;
  scroll-snap-type: y proximity;
  overflow: hidden;
}
#snapping > div{
  scroll-snap-align: start;
}

#wrapper {
  min-height: 100%;
}
#name {
  color: #ffffff;
  transition: text-shadow 0.5s;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}
#name:hover {
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
  cursor: url(/cursor-hover.png), auto;
}
#tagline {
  color: #4dfdef;
  transition: text-shadow 0.5s;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
#tagline:hover {
  cursor: url(/cursor-hover.png), auto;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
}
#profile {
  width: 50vh;
  margin: none;
  border-radius: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s;
}
@media screen and (max-width: 768px) {
  #profile {
    width: 25vh;
  }
}


#profile:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
  cursor: url(/cursor-hover.png), auto;
}
a:hover{
  cursor: url(/cursor-hover.png), auto;
}
#cptext:hover{
  cursor: url(/cursor-hover.png), auto;
}